
@{
    ViewBag.Title = "UrunEkle";
}
@using aaaaa.Controllers

<div class="row">

    <div class="col-md-12">
        <div class="block">
            <div class="block-heading">
                <div class="main-text h2">
                    Ürün Ekleme Safası
                </div>
                <div class="block-controls">
                    <a href=" /Urun/Index">   <span aria-hidden="true" class="icon icon-cross icon-size-medium block-control-remove"></span></a>
                   
                    <span aria-hidden="true" class="icon icon-arrow-down icon-size-medium block-control-collapse"></span>
                </div>
            </div>
            <div class="block-content-outer">
                <div class="block-content-inner">
                    <form action="/Urun/UrunEkle" method="post" role="form">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Ürün Adı :</label>
                            <input type="text" name="_ProductName" value="" class="form-control" id="exampleInputEmail1" placeholder="Ürün Adı Giriniz">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Fiyat : </label>
                            <input type="number" name="_UnitPrice " class="form-control" id="exampleInputPassword1" placeholder="Fiyat Giriniz">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Stok :</label>
                            <input type="number" name="_UnitsInStock " class="form-control" id="exampleInputEmail1" placeholder="Stok Giriniz">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Kategori :</label>


                          <select name="CategoryID" class=" form-control">
                            
                              @foreach (Categories ktg in ViewBag.Kategoriler)
                              {
                             <option value=" @ktg.CategoryID">
                                 @ktg.CategoryName
                             </option>
                              }

                          </select>

                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Tedarikçi:</label>

                            <select name="SupplierID" class=" form-control">
                             
                                    @foreach (Suppliers suppliers in ViewBag.Tedarikciler)
                                    {

                                        <option value=" @suppliers.SupplierID">
                                            @suppliers.CompanyName
                                        </option>

                                    }
                            </select>

                        </div>
                        
                        <button type="submit" class="btn btn-primary">Kaydet</button>
                    </form>
                </div>
            </div>
        </div>


        </div>

    </div>

